div {
  background-color: rgb(216, 216, 216);
  border: 1px solid black;
  /* box-sizing: border-box; */
}

.a{

    background-color: lightblue ;

}

.b{

     background-color: lightcyan;

}

.c{

  background-color:lightseagreen ;


}

.d{

  background-color: lightpink;
}

.e{

  background-color: lightyellow;


}

.f{

  background-color: maroon;

}

.g{
  background-color: lightslategray;

}

.h{

  background-color: lightgoldenrodyellow;

}

.i{

  background-color: lightgreen;


}

@media(min-width: 576px) {
  .a{

    background-color: blue ;

}

.b{

     background-color: coral;

}

.c{

  background-color:crimson ;


}

.d{

  background-color: darkgrey;
}

.e{

  background-color: deepskyblue;


}

.f{

  background-color: gold;

}

.g{
  background-color: greenyellow;

}

.h{

  background-color: indigo;

}

.i{

  background-color: lawngreen;


}
}

@media(min-width: 768px) {
  .a{

    background-color: cadetblue ;

}

.b{

     background-color: cyan;

}

.c{

  background-color:darkgoldenrod ;


}

.d{

  background-color: darkkhaki;
}

.e{

  background-color: darkslategray;


}

.f{

  background-color: dimgray;

}

.g{
  background-color: firebrick;

}

.h{

  background-color: gold;

}

.i{

  background-color: hotpink;


}
}

